In [1]:
#!pip install psycopg2

In [2]:
#!pip install sqlalchemy

In [3]:
#!pip show psycopg2-binary

In [4]:
#!pip install seaborn

In [5]:
!pip show psycopg2

Name: psycopg2
Version: 2.9.10
Summary: psycopg2 - Python-PostgreSQL Database Adapter
Home-page: https://psycopg.org/
Author: Federico Di Gregorio
Author-email: fog@initd.org
License: LGPL with exceptions
Location: /opt/miniconda3/lib/python3.12/site-packages
Requires:
Required-by:

In [6]:
#!pip show psycopg2 psycopg2-binary sqlalchemy

In [7]:
!which python

/opt/miniconda3/bin/python

In [8]:
#!brew install postgresql

In [9]:
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns

In [10]:
# Note:: The make sure you use the information from your specific PostgreSQL installation
host = r'127.0.0.1' # denotes that the db in a local installation
db = r'MSDS610' # db we just created
user = r'postgres' # using the postgres user for this demo
pw = r'*****' # this is the password established during installation
port = r'5432' # default port estabalished during install
schema = r'raw' # schema we just created

In [11]:
#db_conn = create_engine(f"postgresql+psycopg2://{user}:{pw}@{host}:{port}/{db}")

In [12]:
db_conn = create_engine(f"postgresql://{user}:{pw}@{host}:{port}/{db}")

In [13]:
sql="select tables.table_name from information_schema.tables where (table_schema ='"+schema+"')order by 1;"
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

Empty DataFrame
Columns: [table_name]
Index: []

## Load data

In [16]:
gl = pd.read_csv('global_warming_dataset.csv') 
gl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 26 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Country                        100000 non-null  object
 1   Year                           100000 non-null  int64
 2   Temperature_Anomaly            100000 non-null  float64
 3   CO2_Emissions                  100000 non-null  float64
 4   Population                     100000 non-null  float64
 5   Forest_Area                    100000 non-null  float64
 6   GDP                            100000 non-null  float64
 7   Renewable_Energy_Usage         100000 non-null  float64
 8   Methane_Emissions              100000 non-null  float64
 9   Sea_Level_Rise                 100000 non-null  float64
 10  Arctic_Ice_Extent              100000 non-null  float64
 11  Urbanization                   100000 non-null  float64
 12  Deforestation_Rate             100000 non-null  float64
 13  Extreme_Weather_Events         100000 non-null  int64
 14  Average_Rainfall               100000 non-null  float64
 15  Solar_Energy_Potential         100000 non-null  float64
 16  Waste_Management               100000 non-null  float64
 17  Per_Capita_Emissions           100000 non-null  float64
 18  Industrial_Activity            100000 non-null  float64
 19  Air_Pollution_Index            100000 non-null  float64
 20  Biodiversity_Index             100000 non-null  float64
 21  Ocean_Acidification            100000 non-null  float64
 22  Fossil_Fuel_Usage              100000 non-null  float64
 23  Energy_Consumption_Per_Capita  100000 non-null  float64
 24  Policy_Score                   100000 non-null  float64
 25  Average_Temperature            100000 non-null  float64
dtypes: float64(23), int64(2), object(1)
memory usage: 19.8+ MB

In [18]:
table_name = r'global_warming'

In [19]:
gl.to_sql(table_name, con=db_conn, if_exists='replace', index=False, schema=schema, chunksize=1000, method='multi')

100000

In [20]:
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

       table_name
0  global_warming

In [21]:
sql=r'SELECT * FROM ' + schema + '.' + table_name
penquin_check = pd.read_sql(sql, db_conn, index_col=None)

In [22]:
penquin_check.head(10)

,Country,Year,Temperature_Anomaly,CO2_Emissions,Population,Forest_Area,GDP,Renewable_Energy_Usage,Methane_Emissions,Sea_Level_Rise,...,Waste_Management,Per_Capita_Emissions,Industrial_Activity,Air_Pollution_Index,Biodiversity_Index,Ocean_Acidification,Fossil_Fuel_Usage,Energy_Consumption_Per_Capita,Policy_Score,Average_Temperature
0,Country_103,1913,-1.163537,8.876061e+08,1.627978e+08,54.872178,6.139887e+12,76.710013,8.317626e+06,8.111839,...,82.691409,2.285351,4.060975,150.285539,90.073356,8.025470,39.163860,1480.164332,78.870012,20.825292
1,Country_180,1950,-0.432122,4.497517e+08,4.281359e+08,84.051006,2.601447e+12,68.450021,6.206540e+06,42.025915,...,59.322883,17.411668,85.300604,27.305922,88.289837,8.021719,28.252554,1482.730048,32.600905,28.720587
2,Country_93,2014,0.444954,4.579080e+08,4.926732e+08,72.295357,5.192677e+12,36.725699,1.056885e+06,20.953840,...,94.982931,12.039703,83.804880,216.911429,86.936256,7.647408,61.548382,706.918809,37.671300,15.014084
3,Country_15,2020,-1.171616,5.049503e+08,1.252169e+09,17.259684,8.252128e+12,77.547901,1.986813e+06,45.599595,...,62.064250,2.853957,47.014265,35.869182,44.904331,7.569353,82.423750,2616.238324,86.581725,-1.277086
4,Country_107,1964,-0.564038,6.898891e+08,2.932960e+08,44.438605,8.560746e+12,10.019576,3.313252e+06,7.652150,...,84.431279,19.801173,89.379613,284.263093,8.102916,8.015415,29.964450,4975.683780,20.618406,2.861989
5,Country_72,1926,-1.946218,2.394448e+08,1.441203e+07,6.117781,1.989459e+12,26.163399,8.218906e+06,13.574102,...,36.112468,8.528017,63.807031,172.964007,20.512193,7.874246,67.153067,267.465131,84.672317,37.889804
6,Country_189,1921,-1.362100,1.977445e+08,1.339563e+09,75.554131,9.131238e+12,82.661868,5.160613e+06,1.378949,...,1.237686,7.484364,15.002742,238.288021,67.988814,8.448967,22.046013,3114.698772,72.740043,-7.786539
7,Country_21,1921,1.627624,2.111461e+08,2.410014e+07,25.999981,4.034784e+12,36.773252,5.890986e+06,15.617050,...,90.687488,15.747481,86.194366,150.058727,44.592418,8.436721,58.698935,3519.096247,19.243964,4.206395
8,Country_103,1989,0.541387,7.802026e+08,3.855137e+08,17.797781,6.823672e+12,3.422548,1.313058e+04,36.226933,...,60.895322,10.568785,66.175268,242.089767,93.935792,8.224373,46.630095,2718.348573,89.810124,-5.829195
9,Country_122,1963,0.016534,5.397029e+08,5.508798e+08,8.948443,4.713484e+12,72.875002,5.766624e+06,8.016881,...,77.485505,13.919414,70.265639,153.191500,77.122932,8.190353,52.587813,1745.691747,30.215953,2.473330