In [1]:
# Libraries
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns

## Data Extraction

In [2]:
# Note:: The make sure you use the information from your specific PostgreSQL installation
host = r'127.0.0.1' # denotes that the db in a local installation
db = r'MSDS610' # db we just created
user = r'postgres' # using the postgres user for this demo
pw = r'*****' # this is the password established during installation
port = r'5432' # default port estabalished during install
schema = r'raw' # schema we just created

In [3]:
db_conn = create_engine(f"postgresql://{user}:{pw}@{host}:{port}/{db}")

In [4]:
table_name = r'global_warming'

In [5]:
sql="select tables.table_name from information_schema.tables where (table_schema ='"+schema+"')order by 1;"
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

       table_name
0  global_warming

In [6]:
sql=r'SELECT * FROM ' + schema + '.' + table_name
gb = pd.read_sql(sql, db_conn, index_col=None)

In [7]:
gb.head(10)

,Country,Year,Temperature_Anomaly,CO2_Emissions,Population,Forest_Area,GDP,Renewable_Energy_Usage,Methane_Emissions,Sea_Level_Rise,...,Waste_Management,Per_Capita_Emissions,Industrial_Activity,Air_Pollution_Index,Biodiversity_Index,Ocean_Acidification,Fossil_Fuel_Usage,Energy_Consumption_Per_Capita,Policy_Score,Average_Temperature
0,Country_103,1913,-1.163537,8.876061e+08,1.627978e+08,54.872178,6.139887e+12,76.710013,8.317626e+06,8.111839,...,82.691409,2.285351,4.060975,150.285539,90.073356,8.025470,39.163860,1480.164332,78.870012,20.825292
1,Country_180,1950,-0.432122,4.497517e+08,4.281359e+08,84.051006,2.601447e+12,68.450021,6.206540e+06,42.025915,...,59.322883,17.411668,85.300604,27.305922,88.289837,8.021719,28.252554,1482.730048,32.600905,28.720587
2,Country_93,2014,0.444954,4.579080e+08,4.926732e+08,72.295357,5.192677e+12,36.725699,1.056885e+06,20.953840,...,94.982931,12.039703,83.804880,216.911429,86.936256,7.647408,61.548382,706.918809,37.671300,15.014084
3,Country_15,2020,-1.171616,5.049503e+08,1.252169e+09,17.259684,8.252128e+12,77.547901,1.986813e+06,45.599595,...,62.064250,2.853957,47.014265,35.869182,44.904331,7.569353,82.423750,2616.238324,86.581725,-1.277086
4,Country_107,1964,-0.564038,6.898891e+08,2.932960e+08,44.438605,8.560746e+12,10.019576,3.313252e+06,7.652150,...,84.431279,19.801173,89.379613,284.263093,8.102916,8.015415,29.964450,4975.683780,20.618406,2.861989
5,Country_72,1926,-1.946218,2.394448e+08,1.441203e+07,6.117781,1.989459e+12,26.163399,8.218906e+06,13.574102,...,36.112468,8.528017,63.807031,172.964007,20.512193,7.874246,67.153067,267.465131,84.672317,37.889804
6,Country_189,1921,-1.362100,1.977445e+08,1.339563e+09,75.554131,9.131238e+12,82.661868,5.160613e+06,1.378949,...,1.237686,7.484364,15.002742,238.288021,67.988814,8.448967,22.046013,3114.698772,72.740043,-7.786539
7,Country_21,1921,1.627624,2.111461e+08,2.410014e+07,25.999981,4.034784e+12,36.773252,5.890986e+06,15.617050,...,90.687488,15.747481,86.194366,150.058727,44.592418,8.436721,58.698935,3519.096247,19.243964,4.206395
8,Country_103,1989,0.541387,7.802026e+08,3.855137e+08,17.797781,6.823672e+12,3.422548,1.313058e+04,36.226933,...,60.895322,10.568785,66.175268,242.089767,93.935792,8.224373,46.630095,2718.348573,89.810124,-5.829195
9,Country_122,1963,0.016534,5.397029e+08,5.508798e+08,8.948443,4.713484e+12,72.875002,5.766624e+06,8.016881,...,77.485505,13.919414,70.265639,153.191500,77.122932,8.190353,52.587813,1745.691747,30.215953,2.473330

## Data Transformation

### Drop countries with missing values

In [9]:
missing_cl = gb[gb.isna().any(axis=1)]

In [11]:
missing_cl

Empty DataFrame
Columns: [Country, Year, Temperature_Anomaly, CO2_Emissions, Population, Forest_Area, GDP, Renewable_Energy_Usage, Methane_Emissions, Sea_Level_Rise, Arctic_Ice_Extent, Urbanization, Deforestation_Rate, Extreme_Weather_Events, Average_Rainfall, Solar_Energy_Potential, Waste_Management, Per_Capita_Emissions, Industrial_Activity, Air_Pollution_Index, Biodiversity_Index, Ocean_Acidification, Fossil_Fuel_Usage, Energy_Consumption_Per_Capita, Policy_Score, Average_Temperature]
Index: []

[0 rows x 26 columns]

**Note**: No rows withmissing columns found there for none will be flagged for checking

### Duplicate countires and year

In [15]:
duplicates = gb[gb.duplicated(subset=['Country', 'Year'], keep="first")]

In [16]:
duplicates

,Country,Year,Temperature_Anomaly,CO2_Emissions,Population,Forest_Area,GDP,Renewable_Energy_Usage,Methane_Emissions,Sea_Level_Rise,...,Waste_Management,Per_Capita_Emissions,Industrial_Activity,Air_Pollution_Index,Biodiversity_Index,Ocean_Acidification,Fossil_Fuel_Usage,Energy_Consumption_Per_Capita,Policy_Score,Average_Temperature
269,Country_144,1982,1.806901,7.757697e+07,7.493616e+08,27.227896,1.434693e+12,23.380897,8.621177e+06,-1.343156,...,55.068304,3.873121,51.607496,3.792850,47.360823,7.635709,6.378112,2870.414682,80.147496,17.776716
284,Country_131,1962,0.777141,7.204128e+08,3.802448e+08,79.758053,5.415193e+12,97.689668,8.017216e+06,32.646627,...,39.310163,9.328426,2.682914,210.448849,36.159584,7.900228,96.744951,4170.314335,69.290305,9.855656
392,Country_161,2018,0.658018,1.568169e+08,8.327618e+07,12.060470,9.383012e+12,36.543764,2.862442e+06,28.939098,...,58.495650,13.809724,97.428259,260.279027,43.843727,8.472569,71.499735,2215.277284,86.717941,-4.630041
510,Country_39,1903,1.610918,2.033859e+08,8.289595e+08,46.922624,3.719369e+12,72.846088,6.137541e+06,47.410985,...,33.768143,13.549546,31.182682,144.719387,13.366358,8.167107,65.917397,4012.848856,4.821177,34.066958
539,Country_33,2012,1.174113,7.921558e+08,1.323207e+09,82.887078,5.390971e+12,29.790858,6.993807e+06,46.490043,...,27.898280,2.423985,30.367355,52.363770,84.643540,7.858001,41.327775,3109.415735,46.197258,38.669214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Country_137,1950,-1.375490,4.992342e+08,1.367949e+09,41.626745,5.306692e+12,24.336086,9.804349e+06,20.358875,...,95.081789,11.821878,56.643135,169.827985,52.786245,8.076625,97.991111,4046.811944,24.669342,26.871686
99996,Country_42,1921,1.276176,5.846066e+08,1.010792e+09,60.002708,9.424760e+12,44.476904,3.426378e+05,31.390165,...,99.248691,7.973512,93.214237,255.464276,40.109954,7.645927,70.214189,1412.742149,36.337520,7.530304
99997,Country_53,1971,1.195518,5.892516e+08,1.466795e+09,25.123278,3.906999e+12,71.098234,4.429090e+06,39.559624,...,0.814707,7.504673,5.589021,99.687705,96.533330,8.212195,15.046938,3559.131658,30.097024,38.919621
99998,Country_60,1940,-0.344281,5.008876e+08,4.591192e+07,15.060626,9.563223e+12,35.280451,5.345707e+06,39.800826,...,84.471739,17.927533,15.659615,35.390332,15.097057,7.568341,83.158341,1523.274491,64.546178,-3.204884
99999,Country_106,1936,0.306962,5.675235e+08,1.088954e+09,81.642589,8.817226e+12,68.769262,6.101980e+06,16.985987,...,2.753701,5.251734,94.989035,82.452697,63.679688,8.014071,21.567685,1366.351749,21.026657,16.980582

**Note**: Manually check what the duplicate rows look like

In [19]:
check_duplicates = gb[gb["Country"] == "Country_144"].sort_values(by="Year", ascending=True)
check_duplicates.head(10)

,Country,Year,Temperature_Anomaly,CO2_Emissions,Population,Forest_Area,GDP,Renewable_Energy_Usage,Methane_Emissions,Sea_Level_Rise,...,Waste_Management,Per_Capita_Emissions,Industrial_Activity,Air_Pollution_Index,Biodiversity_Index,Ocean_Acidification,Fossil_Fuel_Usage,Energy_Consumption_Per_Capita,Policy_Score,Average_Temperature
10087,Country_144,1900,-0.007006,6.895149e+08,2.245310e+08,72.669868,5.847202e+12,42.461558,3.199749e+06,29.304902,...,13.448765,12.599939,58.946055,12.834398,16.238699,8.172739,83.086991,2587.762695,88.710741,34.364264
80761,Country_144,1900,-0.046035,6.915353e+08,1.297681e+09,71.511095,9.463648e+12,18.414391,8.495074e+06,24.430486,...,22.640542,14.377377,61.354414,298.663271,12.416163,7.625301,20.976794,734.258021,70.657583,13.573384
33153,Country_144,1900,-1.628717,2.945244e+08,1.255572e+08,26.484597,3.536551e+12,95.438755,9.208783e+06,18.655476,...,51.754986,17.590078,41.500589,153.775438,11.199951,7.816155,99.771695,711.317710,56.702477,7.829087
29868,Country_144,1900,-0.402576,3.736752e+08,1.362565e+09,24.442674,2.383467e+12,79.245687,4.190903e+06,-1.748127,...,24.837662,1.028770,67.334493,100.902261,80.088318,8.352027,28.830632,3705.194589,61.816050,21.719667
12107,Country_144,1900,0.065714,1.447309e+08,8.080225e+08,1.313314,8.385589e+12,73.162857,1.621821e+06,23.688570,...,2.040102,6.261941,0.711504,200.474770,16.141460,8.046694,4.921352,617.537564,74.739825,10.504076
40872,Country_144,1900,-1.465008,1.704586e+08,1.884684e+08,64.832929,5.975377e+12,20.588352,3.136613e+06,39.055876,...,58.638723,11.128304,87.819821,224.496472,28.262829,8.299123,90.247793,2570.431656,28.830193,-2.431495
41805,Country_144,1901,-1.015512,4.032884e+08,9.857747e+08,18.054444,2.064003e+12,0.465712,8.071231e+06,40.521314,...,5.080893,1.718906,87.976417,218.501087,25.263497,8.342149,85.452587,2902.824530,2.242753,24.348398
48256,Country_144,1901,-1.840562,8.817299e+08,3.329625e+08,28.182694,2.775997e+10,62.500093,4.955447e+06,24.628886,...,58.943977,7.749615,29.746264,214.249774,11.445040,7.538456,23.585743,2184.751257,43.929191,-6.633289
92406,Country_144,1902,1.056460,8.509018e+07,2.208828e+08,10.032080,7.418268e+12,46.720164,2.096849e+06,36.402148,...,42.926787,10.060842,38.730342,265.436159,85.364145,7.918171,97.976089,3494.583088,96.179603,37.551392
50084,Country_144,1902,1.820765,1.781476e+08,9.953525e+08,31.688086,3.077133e+11,87.941546,1.003887e+06,22.337687,...,40.961757,16.386971,32.905425,125.218736,36.958619,7.528726,20.339252,1868.291018,56.908402,7.095569

##### Get mean of duplicate row with same Country and year

In [29]:
duplicates_mean = duplicates.groupby(['Country', 'Year'], as_index=False).mean()
duplicates_mean

,Country,Year,Temperature_Anomaly,CO2_Emissions,Population,Forest_Area,GDP,Renewable_Energy_Usage,Methane_Emissions,Sea_Level_Rise,...,Waste_Management,Per_Capita_Emissions,Industrial_Activity,Air_Pollution_Index,Biodiversity_Index,Ocean_Acidification,Fossil_Fuel_Usage,Energy_Consumption_Per_Capita,Policy_Score,Average_Temperature
0,Country_1,1900,-0.736197,2.733557e+08,3.186188e+08,15.244316,5.450396e+12,53.313474,5.963399e+06,21.498814,...,82.293541,7.583504,60.305802,119.849255,49.569774,8.006157,55.004982,2474.748082,53.882270,6.971064
1,Country_1,1901,-0.703154,6.998442e+08,1.494792e+09,54.731054,9.044301e+12,46.218131,2.359518e+06,6.527975,...,52.263889,19.029111,33.844962,173.091676,9.140253,8.107997,56.227115,3411.432550,17.905168,32.393594
2,Country_1,1902,-0.269372,6.387650e+08,1.769422e+08,30.736100,3.577474e+12,81.932127,5.874300e+06,37.340943,...,34.289889,5.724153,40.501150,163.346198,65.776186,7.923555,49.416237,1988.796272,53.597921,16.137289
3,Country_1,1903,1.138549,7.073459e+08,8.504665e+08,68.558736,3.423279e+12,30.812757,3.934211e+06,19.431326,...,21.276167,6.383886,60.212029,170.589781,52.224952,7.887093,54.237972,2143.174604,35.826989,23.842348
4,Country_1,1904,0.272228,6.806187e+08,5.487387e+08,30.130873,3.364767e+12,42.098978,2.613544e+06,6.505570,...,47.433426,2.562015,57.873658,110.710126,54.761718,7.730068,26.553637,4023.094770,43.621281,27.347198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22158,Country_99,2017,-1.835565,8.229913e+08,8.830212e+08,17.190883,9.545802e+12,81.361067,7.958287e+06,25.314840,...,51.332407,11.469704,47.786274,212.431613,16.969799,8.089358,68.588396,2165.397592,12.550071,4.388844
22159,Country_99,2018,-0.165340,5.782469e+08,9.386856e+08,83.029808,3.628002e+12,61.156610,3.328632e+06,24.999227,...,47.464534,13.015999,39.628771,89.732081,25.223603,7.768177,32.298767,2529.179744,49.312181,17.412245
22160,Country_99,2021,-0.545998,4.480615e+08,7.811786e+08,41.287053,5.801529e+12,38.986728,7.616893e+06,29.595769,...,40.264464,7.781963,44.916805,139.430697,29.210707,7.822459,51.879143,2572.073018,72.931388,7.954975
22161,Country_99,2022,0.191586,5.694797e+08,4.056454e+08,63.930209,4.405610e+12,41.703312,1.645025e+06,34.075837,...,44.283544,12.759963,58.314939,180.411378,29.604080,8.081615,39.210176,2468.395909,48.197488,20.890433
22162,Country_99,2023,-0.014958,4.167223e+08,1.228421e+09,39.505690,3.806553e+12,53.962403,4.484325e+06,30.262845,...,39.211976,13.820099,18.862325,182.127867,75.388881,7.970354,66.262243,3183.035804,56.418334,17.852688

In [30]:
# check mean value
duplicates_mean[duplicates_mean["Country"] == "Country_144"].sort_values(by="Year", ascending=True)

,Country,Year,Temperature_Anomaly,CO2_Emissions,Population,Forest_Area,GDP,Renewable_Energy_Usage,Methane_Emissions,Sea_Level_Rise,...,Waste_Management,Per_Capita_Emissions,Industrial_Activity,Air_Pollution_Index,Biodiversity_Index,Ocean_Acidification,Fossil_Fuel_Usage,Energy_Consumption_Per_Capita,Policy_Score,Average_Temperature
5722,Country_144,1900,-0.695325,3.349849e+08,7.564587e+08,37.716922,5.948927e+12,57.370008,5.330639e+06,20.816456,...,31.982403,10.077294,51.744164,195.662443,29.621744,8.027860,48.949653,1667.747908,58.549226,10.238944
5723,Country_144,1901,-1.840562,8.817299e+08,3.329625e+08,28.182694,2.775997e+10,62.500093,4.955447e+06,24.628886,...,58.943977,7.749615,29.746264,214.249774,11.445040,7.538456,23.585743,2184.751257,43.929191,-6.633289
5724,Country_144,1902,0.591436,3.792606e+08,1.084551e+09,44.458197,2.546115e+12,53.946822,4.722580e+06,21.783403,...,41.738939,11.981479,43.733773,160.676226,52.890907,7.932295,55.540699,2072.466154,49.991483,10.459264
5725,Country_144,1903,-0.517408,4.183478e+08,8.348576e+08,34.598803,8.654877e+12,32.091375,6.713196e+06,21.656029,...,40.528645,13.922540,71.781688,116.756613,76.096414,7.935747,39.788517,1421.801568,61.572454,18.059368
5726,Country_144,1904,-0.027740,7.591459e+08,8.666634e+08,55.549243,6.030973e+12,49.979095,8.124392e+06,10.062268,...,38.074438,13.854660,29.700329,182.353335,37.141400,8.016578,69.793065,2905.847642,52.959962,16.498798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,Country_144,2019,0.385006,5.748022e+08,1.048122e+09,37.187268,3.667936e+12,53.298478,5.802799e+06,17.414517,...,42.332085,12.296269,27.223456,135.266881,39.291497,7.969605,46.074491,3280.850070,30.231713,16.612469
5828,Country_144,2020,-0.309367,6.083438e+08,4.412554e+08,49.236034,7.375861e+12,38.028621,5.016217e+06,16.322306,...,48.565459,11.612344,62.876555,221.672766,19.191870,8.278113,32.069484,1469.562898,59.169680,6.916506
5829,Country_144,2021,-0.734153,7.474042e+08,8.734004e+08,65.262647,4.456785e+12,40.279000,5.010212e+06,38.014967,...,58.845089,6.252340,32.779901,101.409589,15.003530,7.711847,45.646400,4103.211884,59.846089,16.764788
5830,Country_144,2022,1.406440,5.800159e+08,9.053421e+08,93.740766,2.668792e+12,8.469768,5.448103e+06,21.211345,...,22.464021,19.054282,88.306252,216.349353,49.427150,8.318679,15.312934,410.152434,4.369950,5.254099
5831,Country_144,2023,0.913615,5.731599e+08,8.935363e+08,35.261085,6.034345e+12,57.618837,5.049318e+06,25.857400,...,72.231991,8.833314,25.909639,163.671359,62.585750,8.015898,46.287388,2066.256012,41.525805,20.259744

In [31]:
# remove all duplicates
gb_no_duplicates = gb.drop_duplicates(subset=['Country', 'Year'], keep=False)

In [32]:
# replace dupictes with mean
gb_final = pd.concat([gb_no_duplicates, duplicates_mean], ignore_index=True)

In [33]:
gb_final = gb_final.sort_values(by=['Country', 'Year'])

gb_final

,Country,Year,Temperature_Anomaly,CO2_Emissions,Population,Forest_Area,GDP,Renewable_Energy_Usage,Methane_Emissions,Sea_Level_Rise,...,Waste_Management,Per_Capita_Emissions,Industrial_Activity,Air_Pollution_Index,Biodiversity_Index,Ocean_Acidification,Fossil_Fuel_Usage,Energy_Consumption_Per_Capita,Policy_Score,Average_Temperature
1634,Country_1,1900,-0.736197,2.733557e+08,3.186188e+08,15.244316,5.450396e+12,53.313474,5.963399e+06,21.498814,...,82.293541,7.583504,60.305802,119.849255,49.569774,8.006157,55.004982,2474.748082,53.882270,6.971064
1635,Country_1,1901,-0.703154,6.998442e+08,1.494792e+09,54.731054,9.044301e+12,46.218131,2.359518e+06,6.527975,...,52.263889,19.029111,33.844962,173.091676,9.140253,8.107997,56.227115,3411.432550,17.905168,32.393594
1636,Country_1,1902,-0.269372,6.387650e+08,1.769422e+08,30.736100,3.577474e+12,81.932127,5.874300e+06,37.340943,...,34.289889,5.724153,40.501150,163.346198,65.776186,7.923555,49.416237,1988.796272,53.597921,16.137289
1637,Country_1,1903,1.138549,7.073459e+08,8.504665e+08,68.558736,3.423279e+12,30.812757,3.934211e+06,19.431326,...,21.276167,6.383886,60.212029,170.589781,52.224952,7.887093,54.237972,2143.174604,35.826989,23.842348
1638,Country_1,1904,0.272228,6.806187e+08,5.487387e+08,30.130873,3.364767e+12,42.098978,2.613544e+06,6.505570,...,47.433426,2.562015,57.873658,110.710126,54.761718,7.730068,26.553637,4023.094770,43.621281,27.347198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23793,Country_99,2018,-0.165340,5.782469e+08,9.386856e+08,83.029808,3.628002e+12,61.156610,3.328632e+06,24.999227,...,47.464534,13.015999,39.628771,89.732081,25.223603,7.768177,32.298767,2529.179744,49.312181,17.412245
608,Country_99,2020,1.109231,2.160874e+08,5.049405e+08,45.809165,9.250810e+12,0.301486,4.548326e+06,3.454109,...,8.690295,13.781418,15.471605,18.894106,43.439856,8.379784,60.989955,3985.499045,91.637916,18.658815
23794,Country_99,2021,-0.545998,4.480615e+08,7.811786e+08,41.287053,5.801529e+12,38.986728,7.616893e+06,29.595769,...,40.264464,7.781963,44.916805,139.430697,29.210707,7.822459,51.879143,2572.073018,72.931388,7.954975
23795,Country_99,2022,0.191586,5.694797e+08,4.056454e+08,63.930209,4.405610e+12,41.703312,1.645025e+06,34.075837,...,44.283544,12.759963,58.314939,180.411378,29.604080,8.081615,39.210176,2468.395909,48.197488,20.890433
23796,Country_99,2023,-0.014958,4.167223e+08,1.228421e+09,39.505690,3.806553e+12,53.962403,4.484325e+06,30.262845,...,39.211976,13.820099,18.862325,182.127867,75.388881,7.970354,66.262243,3183.035804,56.418334,17.852688

In [34]:
# check again for duplicates
gb_final[gb_final.duplicated(subset=['Country', 'Year'], keep="first")]

Empty DataFrame
Columns: [Country, Year, Temperature_Anomaly, CO2_Emissions, Population, Forest_Area, GDP, Renewable_Energy_Usage, Methane_Emissions, Sea_Level_Rise, Arctic_Ice_Extent, Urbanization, Deforestation_Rate, Extreme_Weather_Events, Average_Rainfall, Solar_Energy_Potential, Waste_Management, Per_Capita_Emissions, Industrial_Activity, Air_Pollution_Index, Biodiversity_Index, Ocean_Acidification, Fossil_Fuel_Usage, Energy_Consumption_Per_Capita, Policy_Score, Average_Temperature]
Index: []

[0 rows x 26 columns]

### Save transformed data to "cleaned" schema

In [35]:
schema = r'cleaned' # schema we just created

In [36]:
sql="select tables.table_name from information_schema.tables where (table_schema ='"+schema+"')order by 1;"
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

Empty DataFrame
Columns: [table_name]
Index: []

In [37]:
table_name = r'global_warming_cleaned'

In [38]:
gb_final.to_sql(table_name, con=db_conn, if_exists='replace', index=False, schema=schema, chunksize=1000, method='multi')

23797

In [39]:
tbl_df = pd.read_sql(sql, db_conn, index_col=None)
tbl_df

               table_name
0  global_warming_cleaned

In [40]:
sql=r'SELECT * FROM ' + schema + '.' + table_name
clean_check = pd.read_sql(sql, db_conn, index_col=None)

In [41]:
clean_check.head(10)

,Country,Year,Temperature_Anomaly,CO2_Emissions,Population,Forest_Area,GDP,Renewable_Energy_Usage,Methane_Emissions,Sea_Level_Rise,...,Waste_Management,Per_Capita_Emissions,Industrial_Activity,Air_Pollution_Index,Biodiversity_Index,Ocean_Acidification,Fossil_Fuel_Usage,Energy_Consumption_Per_Capita,Policy_Score,Average_Temperature
0,Country_1,1900,-0.736197,2.733557e+08,3.186188e+08,15.244316,5.450396e+12,53.313474,5.963399e+06,21.498814,...,82.293541,7.583504,60.305802,119.849255,49.569774,8.006157,55.004982,2474.748082,53.882270,6.971064
1,Country_1,1901,-0.703154,6.998442e+08,1.494792e+09,54.731054,9.044301e+12,46.218131,2.359518e+06,6.527975,...,52.263889,19.029111,33.844962,173.091676,9.140253,8.107997,56.227115,3411.432550,17.905168,32.393594
2,Country_1,1902,-0.269372,6.387650e+08,1.769422e+08,30.736100,3.577474e+12,81.932127,5.874300e+06,37.340943,...,34.289889,5.724153,40.501150,163.346198,65.776186,7.923555,49.416237,1988.796272,53.597921,16.137289
3,Country_1,1903,1.138549,7.073459e+08,8.504665e+08,68.558736,3.423279e+12,30.812757,3.934211e+06,19.431326,...,21.276167,6.383886,60.212029,170.589781,52.224952,7.887093,54.237972,2143.174604,35.826989,23.842348
4,Country_1,1904,0.272228,6.806187e+08,5.487387e+08,30.130873,3.364767e+12,42.098978,2.613544e+06,6.505570,...,47.433426,2.562015,57.873658,110.710126,54.761718,7.730068,26.553637,4023.094770,43.621281,27.347198
5,Country_1,1905,0.779972,6.848920e+08,8.218035e+08,53.451252,5.989337e+12,71.220964,6.835859e+06,14.517514,...,49.894457,11.344739,63.237688,125.723362,73.887508,7.807014,66.237886,2906.285255,50.310318,12.986597
6,Country_1,1906,0.749481,7.384828e+08,9.717844e+08,71.304433,6.368574e+12,40.377358,4.102873e+06,8.631829,...,50.943026,11.720899,80.471674,129.663990,72.375680,7.897264,70.859571,1393.793605,57.001642,3.349868
7,Country_1,1907,-0.637168,6.896140e+08,8.765094e+08,60.596205,7.779992e+12,50.787751,2.742369e+06,31.410363,...,64.933172,12.749148,50.260546,51.202577,25.957086,8.057036,42.843479,3123.596058,46.781841,34.239512
8,Country_1,1908,0.273943,3.965448e+08,9.029806e+08,35.219464,6.451774e+12,39.634114,2.796150e+06,29.593069,...,45.629493,9.452678,31.780187,200.250576,68.295645,7.941333,52.268319,2860.103473,51.230245,14.993037
9,Country_1,1909,0.816333,3.118423e+08,1.311659e+09,27.012174,8.802959e+12,37.756790,1.785549e+06,48.850478,...,76.331272,11.548370,26.583421,48.526769,28.153486,8.138102,43.206151,3803.911623,28.900588,28.454129